<html>
    <head>
        <title>
            URL Shortener
        </title>
        <style>
            table {
                margin-left: 650px;
            }
        </style>
    </head>
    <body>
        {% if messages %}
        {% for messages in message %}
        {% if messages.tags %}
        <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}  
        {% endif %}
        <a href="urlcreated" style="font-size: 25px; ">View Url</a>
        <h1 align="center">URL Shortner</h1>
        <form action="createshorturl" method="POST">
            {% csrf_token %}
            <table>
                <tbody>
                    <tr>
                        <td><label>URL</label></td>
                        <td><input type="text" name="url"></td>
                    </tr>
                    <tr>
                        <td><button>Submit</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </body>
</html>